<div class='login'>
  <h1>Reset your password</h1>

  <div class='input-container'>
    <label>Email</label>
    <input disabled type='email' [(ngModel)]="details.email">
  </div>

  <div class='input-container'>
    <label>New password</label>
    <input type='password' [(ngModel)]="details.password">
  </div>

  <div>
    <app-button (click)="resetPassword()">
      Reset password
      <i class='material-icons'>edit</i>
    </app-button>
  </div>

  <div>
    <a [routerLink]="['/login']">Remember your password? Log in here</a>
  </div>
</div>