@import '../../../globals';

:host {
  background: map-get($colors, primary);
  color: white(1);
  padding: $base-padding * 2;
  border-radius: $border-radius;
  font-weight: 500;
  font-size: map-get($fonts, large);
  min-width: 210px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &.secondary {
    background: white(1);
    color: map-get($colors, secondary);
    border: 1px solid map-get($colors, border-color);
  }
}